<%- include('../partials/header.ejs')%>

    <!-- <div class="container"> -->
        <div class="events-card card-id">
            <div class="card card-width bg-light mb-3">
                <div class="card-header Event-detail-heading"><h2><%= connection.title%></h2></div>
                <div class="card-body row">
                    <div class="col-3"><img class="card-img" src="<%= connection.imageURL%>" alt=""></div>
                    <div class="col-6 evntDetl">
                        <h3>Hosted By <%= connection.host.firstName + ' ' + connection.host.lastName%></h3>
                        <div class="event-info">
                            <div class=" row">
                                <h6>Hosted On : </h6>
                                <div class="col-sm-10">
                                    <p><%= connection.when%></p>
                                </div>
                            </div>
                            <div class=" row">
                                <h6>Timmings : </h6>
                                <div class="col-sm-10">
                                    <p><%= connection.startTime%> - <%= connection.endTime%></p>
                                </div>
                            </div>
                            <div class=" row">
                                <h6>location : </h6>
                                <div class="col-sm-10">
                                    <p><%= connection.where%></p>
                                </div>
                            </div>
                        </div>
                        <h3>Details</h3>
                        <p><%= connection.details%></p>
                    </div>
                    <div class="col-2">
                        <form>
                            <div class="event-details-btn">
                                <%if(user == connection.host._id) {%>
                                    <button class="btn btn-secondary" type = "submit" formmethod ="GET"  formaction ="/connections/<%= connection._id%>/edit">Edit</button>
                                    <button class="btn btn-danger" type ="submit" formmethod ="POST"  formaction ="/connections/<%= connection._id%>?_method=DELETE">Delete</button>
                                <%}else if(user){%>
                                    <p>People attending: <%= count%></p>
                                    <h6>RSVP ?</h6>
                                    <div class="rsvp">
                                        <button class="btn btn-secondary" type = "submit" formmethod ="POST"  formaction ="/rsvp/<%= connection._id%>/yes">Yes</button>
                                        <button class="btn btn-danger" type ="submit" formmethod ="POST"  formaction ="/rsvp/<%= connection._id%>/no">No</button>
                                        <button class="btn btn-info" type ="submit" formmethod ="POST"  formaction ="/rsvp/<%= connection._id%>/maybe">Maybe</button>
                                    </div>
                                <%}%>
                            </div>                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <%- include('../partials/footer.ejs')%>
</body>
</html>