<%- include('../partials/header.ejs')%>

    <div class="container">
        <div class="events-card card-id">
            <div class="card bg-light mb-3">
                <div class="card-header Event-detail-heading"><%connection.title%></div>
                <div class="card-body row">
                    <div class="col-3"><img class="card-img" src="<%= connection.imageURL%>" alt=""></div>
                    <div class="col-7 evntDetl">
                        <h2>Hosted By <%= connection.host%></h2>
                        <p><%= connection.when%></p>
                        <p><%= connection.startTime%> - <%= connection.endTime%></p>
                        <p><%= connection.where%></p>
                        <h3>Details</h3>
                        <p><%= connection.details%></p>
                    </div>
                    <div class="col-2">
                        <form>
                            <div class="event-details-btn">
                                <button class="btn btn-secondary" type = "submit" formmethod ="GET"  formaction ="/connections/<%= connection.id%>/edit">Edit</button>
                                <button class="btn btn-danger" type ="submit" formmethod ="POST"  formaction ="/connections/<%= connection.id%>?_method=DELETE">Delete</button>
                            </div>                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <%- include('../partials/footer.ejs')%>
</body>
</html>