<%- include('../partials/header.ejs')%>
    <div class="container">
        <div class="row card-top">
            <% if(connections.length){%>
                <% topics.forEach(topic=>{ %>
            <div class="events-card">
                <div class="card bg-light mb-3">
                    <div class="card-header"><%= topic %></div>
                    <div class="card-body">
                        <ul>
                            <% connections.forEach(connection=>{ %>
                                <% if(connection.topic == topic){%>
                                    <li><a  href="/connections/<%= connection.id%>"><%= connection.title %></a></li>
                                <%}%>
                            <%});%>
                        </ul>
                    </div>
                </div>
            </div>
            <% });
            }else{%>
            <p>There are no Events to display.</p>
        <%}%>
        </div>
    </div>  
    <%- include('../partials/footer.ejs')%>
</body>
</html>